<html>
    <head>
        <style>
            table, th, td {
                border: 0px solid skyblue;
                padding: 5px;
                text-align: center;
            }
        table {
            border-spacing: 15px;
        }
        </style>
    </head>
    <body>
        
        <table>
            <tr>
                <td> <a href="https://sites.google.com/site/gillesperrouin/" class="portfolio-link" data-toggle="modal">
                    <img src="../img/gilles.jpg" class="img-responsive img-centered img-org" alt="">
                        Gilles Perrouin
                        </a></td>
                <td>
                    <a href="https://people.cs.kuleuven.be/~danny.weyns/" class="portfolio-link" data-toggle="modal">
                        <img src="../img/danny.jpg" class="img-responsive img-centered img-org" alt="">
                            Danny Weyns
                            </a>
                    </td>
            </tr>
            <tr>
               <td>PReCISE, NADI, University of Namur, <br>Belgium</td>
               <td>Katholieke Universiteit te Leuven, Belgium</td>
            </tr>
        </table>
        
    </body>
    
</html>
